$main-color: #432C73;
$lighter: #8675AC;
$light: #604B8F;
$dark: #291557;
$darker: #160639;
$gray: #C6C6C6;



/* prevent default */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

* {
  font-family: 'Open Sans', sans-serif;
}

body {
  background-color: #24292f;
  margin: 0;
}

header {
  padding: 0 50px;
  height: 100px;
  background-color: $light;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;

  .logo {
    width: 200px;
  }

  .main {
    width: 400px;
  }

  .header_auth {
    width: 200px;
  }

  a {
    text-decoration: none;
    color: black;
  }
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}

/* --------------------------------------------------------------------------------animations */
@keyframes fromRight {
  0% {
    position: relative;
    left: 1000px;
  }

  99% {
    position: relative;
    left: 0px;
  }

  100% {
    position: initial;
  }
}

@keyframes spawn {
  from {
    color: transparent;
  }
}