@import '../index.scss';

.dark_modal {
    transition: 0.5s;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    overflow: scroll
}



.editItemWindow {
    margin: 3% auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    padding: 30px 0;
    width: 800px;
    background-color: $lighter;
    border-radius: 10px;
    flex-wrap: wrap;
    
    h2, h3 {
        color: black;
        margin-top: 10px;
    }

    .mainFields {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 450px;
        align-items: center;
        // flex-wrap: wrap;
    }

    .newFieldsBox {
        display: flex;
        flex-direction: row;
        justify-content: center;
        .newFields{
            margin: 5px;
        }
    }

    .existFieldsBox{
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        .existFields{
            margin: 5px;
        }
    }

    .dopInfo {
        display: flex;
        flex-direction: row;
    }

    .dopInfoBox {
        display: flex;
        flex-direction: column;
        width: 300px;
        align-items: center;
        text-align: center;
    }

    .buttonsBox {
        display: flex;
        width: 420px;
        height: 50px;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;

        button {
            width: 100px;
            height: 40px;
            border: 1px solid transparent;
            border-radius: 10px;
            cursor: pointer;
        }
    }
}